div
{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    /*align-items: center;*/
    height: 100%;
    background-color: aqua;
}
button
{
    border: solid 1px black;

    border-radius: 5px;
    
}
#button1
{
    background-color: blueviolet;
  
}
#button2
{
background-color: brown;
 

}
#button3
{
background-color: darkblue;
   
}