body
{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

/* all Hero layout*/
#hero footer
{
    display: flex;

    justify-content: space-between;
}

/* featured*/
#featured > section
{
    display: flex;
}
#featured > section > article:nth-child(even) {
    border-left: 20px solid darkcyan;
    border-right: 20px solid darkcyan;
  }

/*all food items */
#all-items > section > article
  {
    display: flex;

  }

  #all-items > section > div:last-child
  {
      flex-basis: 80%;
  } 

  #all-items > section > article:nth-child(even) > div:last-child
  {
      order: 2;

  } 

  @media screen and (max-width: 768px)
  {
      #feature > section
      {
          flex-wrap: wrap;
      }
  }

  #featured > section > article:nth-child(even)
  {
      border: none;
  }
