body {
  margin: 0;
  padding: 0;
}

section {
  width: 80vw;
  font-family: Tahoma, sans-serif;
}

#hero {
  font-family: 'Shadows Into Light', cursive;
  ;
  font-size: 3vw;
  color: black;
  width: 80vw;
}

#hero img {
  width: 80vw;
}

#hero footer {
  height: 80px;
  padding: 0 15px;
  margin-top: -23px;
  background-color: salmon;
}

#hero>footer a,
#hero>footer a:visited,
#hero>footer a:active {
  text-decoration: none;
  color: black;
}

#hero>footer a:hover {
  background-color: slategray;
}

/** **/
#featured {
  font-family: Tahoma, sans-serif;
  color: slategray;
  margin-top: 25px;
}

#featured>header,
#all-items>header {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 25px;
}



#featured section article div {
  padding: 40px;
  max-height: 10vw;
  background-color: lightblue;
  color: white;
  font-size: 0.75vw;
}

#featured section article p {
  padding: 20px;
}

#featured section article header,
#all-items section article div header {
  font-weight: bold;
  margin: 15px;
}

#featured section article p,
#all-items section article div p {}

/** **/
#all-items {
  margin-top: 25px;
}

#all-items section article {
  color: whitesmoke;
  background-color: darkseagreen;
}

#all-items section article div:first-child {
  font-size: .5vw;
  margin: 10px;
  padding: 30px;
  border-radius: 10vw;
  width: 3vw;
  height: 3vw;
  background-color: rgba(0, 0, 1, 0.2);
}

#all-items section article:nth-child(even) div:last-child {
  text-align: right;
}

@media only screen and (max-width: 550px) {
  #hero footer {
    margin-top: -5px;
    height: 60px;
    font-size: 20px;
  }

  #hero,
  #hero img {
    width: 100vw;
  }

  #featured>header,
  #all-items>header {
    text-align: center;
  }
}
