<template>
  <div class="card" v-bind:class="{read: myBook.read}">
    <h2 class="book-title">{{book.title}}</h2>
 
    <img v-if="book.isbn" v-bind:title="book.title" v-bind:src="'http://covers.openlibrary.org/b/isbn/' + book.isbn + '-M.jpg'" />
    
    <h3 class="book-author">{{book.author}}</h3>

    <button class="mark-read" v-on:click="toggleRead" v-if="myBook.read==false">READ</button>
    <button class="mark-unread" v-on:click="toggleRead" v-else>UNREAD</button>
    </div>
   
</template>

<script>
export default {
    name: 'book-card',
    props: ['book'],
    data() {
        return {
            myBook: {}
        }
    },
    created() {
        this.myBook = {
            ...this.book
        }
    },
    methods: {
       toggleRead() {
           //this.$store.commit("FLIP_DONE", this.book)
           const book = this.myBook; 
           book.read = !book.read;    
       }
   }
}

</script>

<style>
.card {
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    height: 550px;
    margin: 20px;
}

.card.read {
    background-color: lightgray;
}

.card .book-title {
    font-size: 1.5rem;
}

.card .book-author {
    font-size: 1rem;
}
</style>