<template>
  <div class="myBooks">
    
    <reading-list />
    <router-link v-bind:to="{name: 'newBook'}">Add Book to Reading List</router-link>

  </div>
</template>

<script>

import ReadingList from "@/components/ReadingList.vue"



export default {
    name: 'myBooks',
    components: {ReadingList},
}
</script>