<template>
  <div class="new-book-form">
    
    <new-book-form />
  </div>
</template>
<script>

import NewBookForm from "@/components/NewBookForm.vue"

export default {
    name: 'addABook',
    components: {NewBookForm},
}
</script>