* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#left-panel>hr {
  width: 80%;
}

#left-panel>nav>menu {
  padding-left: 0;
  width: 90%;
}
/* ---- Paste below ---- */
#left-panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
}

body > main {
  position: absolute;
  left: 300px;
}

body > main > article
{
  border: 1px solid silver;
  border-radius: 8px;
  padding: 10px;
  margin: 15px 0;
}

main > article > img {
  float: right;
  border-radius: 15px;
}

body > main > article h3,
body > main > article h4 {
  margin: 3px;
}

body > main > article > ul > li {
  margin-bottom: 15px;
}body > main > article > ul > li {
  margin-bottom: 15px;
}

body > main > article span.citation {
  font-size: .7em;
  color: darkgray;
}

a[target=_blank] {
  text-decoration: none;
  font-size: .7em;
}

a[target=_blank]:hover {
  text-decoration: underline;
}

#left-panel > nav > menu > li {
  list-style: none;
  padding: 13px 0;
}

#left-panel > nav > menu > li > a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  width: 70%;
  margin: 15px auto;
  display: block;
}

.active-left-menu {
  background-color: rgba(135, 206, 250, 0.5);
  border-radius: 0 30px 30px 0;
}

#left-panel > nav > menu > li.active-left-menu > a {
  color: blue;
}

#left-panel > nav > menu > li:hover {
  background-color: rgba(208, 235, 252, 0.5);
  border-radius: 0 30px 30px 0;
  color: blue;
}


