<template>
  <div>
      <h1>My Portfolio</h1>
      <ul>
          <li><a href="https://www.linkedin.com/">www.linkedin.com/in/John-G-Savage ⚫</a></li>
          <li><a href="https://github.com/">https://github.com/JohnGSavage
</a></li>
      </ul>
  </div>
</template>