* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

ul {
  margin: 0;
  padding: 0;
}

aside
{
  position:fixed;
  left: 0;
  top: 0;
  width: 200px; 
}

aside
{
border-right: 1px solid skyblue;
height: 100vh;
padding-left: 20px;
padding-right: 20px;

}

aside img
{
  height: 120px;
  inset-block: margin 0 auto;
}

main
{
  margin-left: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

nav ul li
{
list-style: none;
text-align: center;
text-transform: uppercase;
border-bottom: 1px rgb(0, 173, 238, 0.4);
margin: 10px auto;
padding-bottom: 10px;
width: 80%;
line-height: 2;
}

nav ul li a
{
font-weight: bold; 
color: #00ADEE;
text-decoration: none;
}

nav ul li a:hover
{
text-decoration: underline;
}

main header img
{
  height: 120px;
  image: 80%;
}

.banner
{
width: 100%;
}

div
{
display: inline-block;
width: 33%;
padding-right: 20px;
margin-top: 20px;
}

h2
{
  color: #8CC36F;
}

#what-we-do
{
border-right-style: solid;
border-color: rgb(170, 239, 135, 0.8);
border-width: 1px;
}

#our-work
{
border-right-style: solid;
border-color: rgb(170, 239, 135, 0.8);
border-width: 1px;
}

#our-work
{
padding-left: 20px;
}

#contact-us
{
padding-left: 20px;
}