* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgba(192, 192, 192, 0.1);
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
}

#headline 
{
    grid-area: headline;
}

#student-quote
{
    grid-area: quote;
}

#student-profile
{
    grid-area: profile;
}

#student-picture
{
    grid-area: picture;
    text-align: center;
}
#student_contact
{
    grid-area: contact;
    text-align: center;
}
#experience-database
{
    grid-area: database;
}

#experience-code
{
    grid-area: code;
}

#experience-web
{
    grid-area: web;  
}
#experience-design
{
    grid-area: design;
}

#main-grid 
{
    display: grid;
    grid-gap: 20px 50px;
    grid-template-columns: 1fr 1 fr 1fr;
    grid-template-areas:
      "headline headline picture"
      "quote quote picture"
      "profile profile contact"
      "experience experience experience";
    align-items: center;
}

#experience-grid
{
    grid-area: experience;
    display: grid;
    grid-gap:20px 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "code code"
        "database database"
        "web design";
}



@media (max-width: 1024px)
{

#main-grid
{
grid-column-gap: 35px;
grid-template:  1fr 1fr;
grid-template-areas:

    "headline headline"
    "quote picture"
    "quote contact"
    "profile profile"
    "experience experience";
}
#experience-grid
{
    grid-gap: 20-px;
    grid-template-areas:
    "code web"
    "database design";
}
}
@media (max-width: 450px)
{
#main-grid
{
grid-template-columns: 100%;
grid-template-areas:
    "headline"
    "picture"
    "contact"
    "quote"
    "profile"
    "experience";
}


#experience-grid
{
    grid-template-columns: 100%;
    grid-template-areas:
    "code"
    "web"
    "database" 
    "design";
}