body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* Photo by Andre Furtado on Unsplash */
  background: url(../img/andre-furtado-JtV6zyOZSrA-unsplash.jpg) left / cover no-repeat;
  display: flex;
  display: grid;
  grid-template-columns: 35% 65%;
}

#left-panel {
  background-color: #F7F7F7;
  display: grid;
}

ul.social-icons {
  list-style-type: none;
  margin: 20px 20px;
  padding: 0;
  display: flex;
  justify-content: space-evenly;

}

nav {
  display: grid;
  align-items: stretch;
  flex-grow: 1;
}


#right-panel {
  display: grid;
  align-items: center;
  justify-items: center;
}

/* YOU WON'T NEED TO CHANGE ANY STYLES BELOW THIS LINE */

h1,
h2 {
  font-family: 'Kalam', cursive;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 20px 0;
}

header {
  background-color: #F2CC65;
}

p {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 2.1rem;
  padding: 0 20px;
}

nav ul {
  list-style-type: none;
  margin: 0 20px 0 20px;
  padding: 0;
}

nav ul li {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #707070;
  padding-top: 30px
}

nav a,
nav a:visited {
  text-decoration: none;
  color: #1b1b1b;
}

nav a:hover {
  color: #F2CC65;
  padding-left: 5px;
}

.fab {
  color: #3A3B00
}

.social-icons li a:hover .fab {
  color: #F2CC65
}

#welcome {
  background-color: #F2CC65;
  font-family: 'Kalam', cursive;
  text-align: center;
  font-size: 5rem;
  padding: 20px;
  border-radius: 10px;
}

@media(max-width: 1024px) {

  h1,
  #welcome {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .fa-3x {
    font-size: 1.5rem;
  }
}

@media(max-width: 425px) {
  #left-panel {
    flex-basis: 100%;
  }

  nav ul li {
    font-size: 1rem;
  }

  ul.social-icons {
    margin-top: 40px;
  }

  #right-panel {
    display: none;
  }
}
