body
{
    font-family: Arial, Helvetica, sans-serif;
}
h2
{
    color:rgba(94, 5, 83, 0.782);
}


header
{
    text-align: center;
}

section{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    background-color: lightpink;
   

}