body
{
    font-family: Arial, Helvetica, sans-serif;
}
h1
{
    color:rgb(0, 110, 255);
}

img
{
    height: 20%;
}

section{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}